body {
  margin: 0;
  padding: 0;
}
.global {
  background-color: #000000cc;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding-left: 10%;
  padding-right: 10%;
  border: #000000;
  border-radius: 20px;
  box-sizing: border-box;
}
.global .img {
  width: 100%;
  height: 100%;
}
.global .div-2 {
  /* margin-inline: 40px; */
  gap: 30px;
}
.global .text-wrapper-1 {
  font-family: "SF Pro Text-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 17px;
  text-align: center;
  letter-spacing: 0.23px;
  line-height: 29px;
  white-space: nowrap;
  text-decoration: none;
}

.global .div-5 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
@media screen and (max-width: 768px) {
  .global .text-wrapper-1 {
    display: none;
  }
  .global {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%vw;
  }
}

@media screen and (max-width: 768px) {
  .nav {
    display: none;
  }
}

.nav .ui {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  /* align-items: center; */
}
.nav .text-wrapper-1 {
  font-family: "SF Pro Text-Regular", Helvetica;
  font-weight: 400;
  color: #1d1d1f;
  font-size: 12px;
  text-align: center;
  letter-spacing: -0.12px;
  line-height: 16px;
  white-space: nowrap;
  text-decoration: none;
}
.nav .text-wrapper-2 {
  font-family: "SF Pro Text-Regular", Helvetica;
  font-weight: 400;
  color: #bf4800;
  font-size: 10px;
  text-align: center;
  letter-spacing: -0.08px;
  line-height: 12px;
  white-space: nowrap;
}
.nav .a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.section {
  display: flex;
  justify-content: space-around;
  min-height: 100vh;
  position: relative;
  align-items: center;
  background-color: #01012a;
}
.section .div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section .text-wrapper {
  font-weight: 700;
  color: #ffffff;
  font-size: 90px;
  text-align: center;
  letter-spacing: -0.27px;
  font-family: "SF Pro Display-Bold", Helvetica;
}
.section .text-wrapper-2 {
  color: #2997ff;
  font-size: 21px;
  text-align: center;
  letter-spacing: 0.23px;
  white-space: nowrap;
}
.section .img {
  max-width: 100%;
  height: 100%;
}
@media screen and (max-width:768px) {
  .section {
    flex-direction: column-reverse;
    padding-inline: 0px;
  }
  .section .img {
    max-width: 100%;
    height: 100%;
  }
}
.section-2 {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  align-items: center;
  justify-content: space-around;
}
.section-2 .headding-1 {
  font-family: "SF Pro Display-Bold", Helvetica;
  font-weight: 700;
  color: #1d1d1f;
  font-size: 56px;
  text-align: center;
  letter-spacing: -0.28px;
  line-height: 60px;
}
.section-2 .div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding: 30px;
}
.section-2 .div-2 {
  font-family: "SF Pro Display-Bold", Helvetica;
  font-weight: 700;
  color: #1d1d1f;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0.22px;
  line-height: 28px;
}
.section-2 .div-3 {
  font-family: "SF Pro Display-Bold", Helvetica;
  font-weight: 700;
  color: #1d1d1f;
  font-size: 48px;
  letter-spacing: -0.14px;
  line-height: 52px;
  text-align: center;
}
.section-2 .div-4 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 100px;
}
.section-2 .AtT {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-2 .text-wrapper-3 {
  font-weight: 400;
  color: #6e6e73;
  font-size: 21px;
  text-align: center;
  letter-spacing: 0.23px;
  line-height: 29px;
}
.section-2 .Sprint {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-2 .text-wrapper-4 {
  font-family: "SF Pro Display-Regular", Helvetica;
  font-weight: 400;
  color: #6e6e73;
  font-size: 21px;
  text-align: center;
  letter-spacing: 0.23px;
  line-height: 29px;
}
.section-2 .Tmobile {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-2 .text-wrapper-5 {
  font-family: "SF Pro Display-Regular", Helvetica;
  font-weight: 400;
  color: #6e6e73;
  font-size: 21px;
  text-align: center;
  letter-spacing: 0.23px;
  line-height: 29px;
}
.section-2 .verizon {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-2 .text-wrapper-6 {
  font-family: "SF Pro Display-Regular", Helvetica;
  font-weight: 400;
  color: #6e6e73;
  font-size: 21px;
  text-align: center;
  letter-spacing: 0.23px;
  line-height: 29px;
}
.section-2 .div-5 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-2 .button {
  background-color: #0071e3;
  font-family: "SF Pro Text-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 17px;
  text-align: center;
  letter-spacing: -0.37px;
  line-height: 20px;
  white-space: nowrap;
  border-radius: 40px;
  width: 170px;
  height: 56px;
}
.section-2 .text-wrapper-7 {
  font-weight: 400;
  color: #1d1d1f;
  font-size: 17px;
  text-align: center;
  letter-spacing: -0.37px;
  line-height: 25px;
  margin-top: 40px;
}
.section-2 .link {
  font-weight: 400;
  color: #0066cc;
  font-size: 17px;
  text-align: center;
  letter-spacing: -0.37px;
  line-height: 25px;
  text-decoration: none;
}
@media screen and (max-width:768px) {
  .section-2 {
    width: 100%;
    height: 100%;
  }
  .section-2 .headding-1{
    font-size: 44px;
  }
  .section-2 .div-2{
    font-size: 18px;
  }
  .section-2 .div-3 {
    font-size: 30px;
  }
  .section-2 .div-4 {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 0px;
  }
  .section-2 .img {
    max-width: 100%;
    height: 100%;
  }
}
.section-3 {
    margin: 100%vw;
    height: 100%vh;
 } 
.section-3 .div-6 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* min-height: 100vh; */
}
.section-3 .div-7 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* margin: auto; */
  width: 675px;
  height: 751px;
}
.section-3 .div-8 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-3 .text-wrapper-8 {
  font-family: "SF Pro Display-Bold", Helvetica;
  font-weight: 700;
  color: #1d1d1f;
  font-size: 48px;
  text-align: center;
  letter-spacing: -0.14px;
  line-height: 52px;
}

.section-3 .text-wrapper-9 {
  font-family: "SF Pro Display-Regular", Helvetica;
  font-weight: 400;
  color: #1d1d1f;
  font-size: 20.5px;
  text-align: center;
  letter-spacing: 0.23px;
  line-height: 29px;
  width: 466px;
  height: 83px;
  /* top: 20px; */
}
.section-3 .link-1 {
  font-family: "SF Pro Display-Regular", Helvetica;
  font-weight: 400;
  color: #0066cc;
  font-size: 21px;
  text-align: center;
  letter-spacing: 0.23px;
  line-height: 29px;
  white-space: nowrap;
  /* top: 40px; */
  text-decoration: none;
}
.section-3 .div-9 {
  width: 675px;
  height: 751px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  /* margin: auto; */
}
.section-3 .div-10 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}
.section-3 .text-wrapper-10 {
  font-family: "SF Pro Display-Bold", Helvetica;
  font-weight: 700;
  color: #1d1d1f;
  font-size: 48px;
  text-align: center;
  letter-spacing: -0.14px;
  line-height: 52px;
}
.section-3 .text-wrapper-11 {
  font-family: "SF Pro Display-Regular", Helvetica;
  font-weight: 400;
  color: #1d1d1f;
  font-size: 20.5px;
  text-align: center;
  letter-spacing: 0.23px;
  line-height: 29px;
  width: 430px;
  height: 83px;
  /* top: 20px; */
}
.section-3 .link-2 {
  font-family: "SF Pro Display-Regular", Helvetica;
  font-weight: 400;
  color: #0066cc;
  font-size: 21px;
  text-align: center;
  letter-spacing: 0.23px;
  line-height: 29px;
  white-space: nowrap;
  /* margin-top: 20px; */
  text-decoration: none;
}
.section-3 .img {
  max-width: 100%;
  height: 100%;
}
@media screen and (max-width:768px) {
  .section-3 .div-6{
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    margin: auto;
  }
  .section-3 .img-1 {
    max-width: 100%;
    height: 100%;
  }
  .section-3 .div-7 {
    width: auto;
    height: auto;
  }
  .section-3 .div-8{
    margin-bottom: 20px;
  }
  .section-3 .div-9 {
    width: auto;
    height: auto;
  }
  .section-3 .text-wrapper-8 {
    font-size: 30px;
    width: auto;
  }
  .section-3 .text-wrapper-9 {
    width: auto;
    height: auto;
  }
  .section-3 .text-wrapper-10 {
    font-size: 30px;
    width: auto;
  }
  .section-3 .text-wrapper-11 {
    width: auto;
    height: auto;
  }
}
.section-4 {
  width: 1380px;
  height: 560px;
  background-size: cover;
  background-position: 50% 50%;
  background-image: url(img/iphoneeverycorner.svg);
}
.section-5 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  /* margin: 30px;
  padding: 20px; */
  margin: auto;
}
.section-5 .div-13 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  /* margin: 30px;
  padding: 40px; */
  margin: auto;
}
.section-5 .tableTitle {
  font-family: "SF Pro Display-Bold", Helvetica;
  font-weight: 700;
  color: #1d1d1f;
  font-size: 48px;
  text-align: center;
  letter-spacing: -0.14px;
  line-height: 52px;
  bottom: 50px;
}
.section-5 .button {
  background-color: #0071e3;
  font-family: "SF Pro Text-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 12px;
  text-align: center;
  letter-spacing: -0.12px;
  line-height: 16px;
  white-space: nowrap;
  border-radius: 40px;
  width: 45px;
  height: 24px;
}

.section-5 .link-3 {
  font-family: "SF Pro Text-Regular", Helvetica;
  font-weight: 400;
  color: #0066cc;
  font-size: 14px;
  text-align: center;
  letter-spacing: -0.22px;
  line-height: 20px;
  white-space: nowrap;
  text-decoration: none;
}
.section-5 .div-15 {
  font-family: "SF Pro Display-Regular", Helvetica;
  font-weight: 400;
  color: #0066cc;
  font-size: 21px;
  text-align: center;
  letter-spacing: 0.23px;
  line-height: 29px;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 40px;
}
.section-5 .link-5 {
  text-decoration: none;
}
.section-5 .link-6 {
  text-decoration: none;
}
@media screen and (max-width:768px) {
  .section-5 {
    width: 100%vw;
    height: 100%vh;
    margin: auto;
  }
  .section-5 .tableTitle {
    font-size: 30px;
  }
  .section-5 .table {
    overflow-x: auto;
  }
  .section-5 .img {
    max-width: 100%;
    height: 100%;
  }
}
.section-6 {
  display: flex;
  /* margin-left: 40px;
  margin-right: 40px; */
  padding: 10px;
  width: 100%;
  height: 100%;
}
.section-6 .div-16 {
  background-image: url(img/manholdingiPhone.png);
  background-size: 100% 100%;
  width: 90vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}
.section-6 .h {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 302px;
  margin-right: 600px;
}
.section-6 .text-wrapper-14 {
  font-family: "SF Pro Display-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0.22px;
  line-height: 28px;
  /* white-space: nowrap; */
}

.section-6 .iphone-iphone {
  font-family: "SF Pro Display-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 48px;
  letter-spacing: -0.14px;
  line-height: 52px;
}

.section-6 .watch-the-guided {
  /* width: 142px;
  height: 36px; */
  margin-right: 600px;
}

.section-6 .text-wrapper-15 {
  font-family: "SF Pro Text-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 19px;
  text-align: center;
  letter-spacing: -0.37px;
  line-height: 30px;
  background-color: #ffffff;
  border-radius: 50px;
  /* white-space: nowrap; */
}
@media screen and (max-width: 768px) {
  .section-6 .div-16 {
    display: none;
  }
}
.section-7 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}
.section-7 .div-17 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.section-7 .img-1 {
  max-width: 100%;
  height: 100%;
}
.section-7 .text-wrapper-15 {
  background: linear-gradient(
    90deg,
    rgb(30, 55, 145) 0%,
    rgb(41, 72, 177) 40%,
    rgb(49, 83, 198) 55%,
    rgb(56, 95, 218) 60%
  );
  -webkit-background-clip: text !important;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  font-family: "SF Pro Display-Bold", Helvetica;
  font-weight: 700;
  color: transparent;
  font-size: 48px;
  text-align: center;
  letter-spacing: -0.14px;
  line-height: 52px;
  top: 30px;
}
.section-7 .text-wrapper-16 {
  font-family: "SF Pro Display-Regular", Helvetica;
  font-weight: 400;
  color: #1d1d1f;
  font-size: 21px;
  text-align: center;
  letter-spacing: 0.23px;
  line-height: 29px;
  top: 60px;
}
.section-7 .div-19 {
  display: flex;

  gap: 40px;
  margin-bottom: 30px;
}
.section-7 .button-1 {
  font-family: "SF Pro Text-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 17px;
  text-align: center;
  letter-spacing: -0.37px;
  line-height: 20px;
  white-space: nowrap;
  background-color: #0071e3;
  border-radius: 50px;
  width: 61px;
  height: 36px;
}
.section-7 .link-6 {
  font-weight: 400;
  color: #0066cc;
  font-size: 21px;
  text-align: center;
  letter-spacing: 0.23px;
  line-height: 29px;
  white-space: nowrap;
  text-decoration: none;
  margin-left: 30px;
}
@media screen and (max-width: 768px) {
  .section-7 {
    flex-direction: column;
    justify-content: space-between;
    margin-top: 30px;
  }
  .section-7 .text-wrapper-15 {
    font-size: 34px;
  }
}
.section-8 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #000000;
  margin-top: 20px;
  padding-top: 30px;
  height: 100%;
}
.section-8 .div-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.section-8 .text-wrapper-1 {
  font-family: "SF Pro Text-Regular", Helvetica;
  font-weight: 400;
  color: #86868b;
  font-size: 17px;
  text-align: center;
  letter-spacing: -0.37px;
  line-height: 25px;
  white-space: nowrap;
}
.section-8 .text-wrapper-2 {
  font-family: "SF Pro Text-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 23px;
  text-align: center;
  letter-spacing: -0.37px;
  line-height: 25px;
}
.section-8 .text-wrapper-3 {
  background: linear-gradient(
    180deg,
    rgb(255, 182, 255) 0%,
    rgb(179, 68, 255) 100%
  );
  -webkit-background-clip: text !important;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  font-family: "SF Pro Display-Bold", Helvetica;
  font-weight: 700;
  color: transparent;
  font-size: 42px;
  text-align: center;
  letter-spacing: -0.14px;
  line-height: 52px;
  white-space: nowrap;
}
.section-8 .text-wrapper-4 {
  font-family: "SF Pro Display-Regular", Helvetica;
  font-weight: 400;
  color: #f5f5f7;
  font-size: 21px;
  text-align: center;
  letter-spacing: 0.23px;
  line-height: 29px;
}
.section-8 .div-2 {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-bottom: 30px;
}
.section-8 .button-1 {
  font-family: "SF Pro Text-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 17px;
  text-align: center;
  letter-spacing: -0.37px;
  line-height: 20px;
  white-space: nowrap;
  background-color: #0071e3;
  border-radius: 50px;
  width: 61px;
  height: 36px;
  right: 50px;
}
.section-8 .link-1 {
  font-weight: 400;
  color: #0066cc;
  font-size: 21px;
  text-align: center;
  letter-spacing: 0.23px;
  line-height: 29px;
  white-space: nowrap;
  text-decoration: none;
  left: 40px;
}
@media screen and (max-width: 768px) {
  .section-8 .img {
    max-width: 100%;
    height: 100%;
  }
}
.section-9 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 100px;
  padding: 20px;
  height: 100%vh;
}
.section-9 .div-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  /* top: 30px;
  height: 254px; */
}
.section-9 .text-wrapper-1 {
  font-family: "SF Pro Text-Regular", Helvetica;
  font-weight: 400;
  color: #6e6e73;
  font-size: 17px;
  text-align: center;
  letter-spacing: -0.37px;
  line-height: 25px;
  white-space: nowrap;
}
.section-9 .text-wrapper-2 {
  font-family: "SF Pro Text-Regular", Helvetica;
  font-weight: 550;
  color: #000000;
  font-size: 26px;
  text-align: center;
  letter-spacing: -0.37px;
  line-height: 25px;
}
.section-9 .text-wrapper-3 {
  background: linear-gradient(
    90deg,
    rgb(44, 162, 180) 0%,
    rgb(85, 152, 222) 24%,
    rgb(127, 135, 255) 45%,
    rgb(246, 90, 173) 76%,
    rgb(236, 61, 67) 100%
  );
  -webkit-background-clip: text !important;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  font-family: "SF Pro Display-Bold", Helvetica;
  font-weight: 700;
  color: transparent;
  font-size: 43px;
  text-align: center;
  letter-spacing: -0.14px;
  line-height: 52px;
  white-space: nowrap;
}
.section-9 .text-wrapper-4 {
  font-family: "SF Pro Display-Regular", Helvetica;
  font-weight: 400;
  color: #1d1d1f;
  font-size: 21px;
  text-align: center;
  letter-spacing: 0.23px;
  line-height: 29px;
}
.section-9 .div-2 {
  display: flex;
  align-items: center;
  gap: 40px;
}
.section-9 .button-1 {
  font-family: "SF Pro Text-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 17px;
  text-align: center;
  letter-spacing: -0.37px;
  line-height: 20px;
  white-space: nowrap;
  background-color: #0071e3;
  border-radius: 50px;
  width: 61px;
  height: 36px;
  right: 50px;
}
.section-9 .link-1 {
  font-weight: 400;
  color: #0066cc;
  font-size: 21px;
  text-align: center;
  letter-spacing: 0.23px;
  line-height: 29px;
  white-space: nowrap;
  text-decoration: none;
  left: 40px;
}
.section-9 .div-3 {
  margin-top: 30px;
}
@media screen and (max-width: 768px) {
  .section-9 {
    margin-top: 0px;
  }
  .section-9 .img {
    max-width: 100%;
    height: 100%;
  }
}





